:root {
    --box-shadow: 0 0 30px gray;
    --width: 150px;
    --height: auto;
    --border: 1px solid black;
}

/* variables in css */

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

/* my picture */
main img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: 0.1rem;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

img {
    width: var(--width);
    height: auto;
    border: 1px solid black;
    box-shadow: var(--box-shadow);
    padding: 0.1rem;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}